.sidebar {
  width: 250px;
  background-color: #2c3e50; /* Cor escura para a sidebar */
  color: white;
  padding: 20px;
  min-height: 100vh; /* Ocupa a altura total da viewport */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5em;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-menu a:hover {
  background-color: #34495e;
}

.sidebar-menu a svg {
  margin-right: 10px;
}

/* Estilo para grupos de menu (ex: Cadastro) */
.sidebar-menu .menu-group {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 0;
  cursor: pointer; /* Indica que é clicável ou expansível */
  display: flex;
  align-items: center;
}

.sidebar-menu .menu-group svg {
  margin-right: 10px;
}

.sidebar-menu .menu-group ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}

.sidebar-menu .menu-group ul li {
  margin-bottom: 8px;
}

.sidebar-menu .menu-group ul li a {
  font-weight: normal;
  padding: 5px 10px;
  background-color: transparent;
}

.sidebar-menu .menu-group ul li a:hover {
  background-color: #49627a;
}