.tabs-container {
  display: flex;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-button.active {
  background-color: white;
  border-color: #ddd;
  border-bottom-color: white; /* Simula a aba "flutuando" */
  color: #007bff;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 8px 8px 8px;
  background-color: white;
}